services:
  mysql:
    image: mysql:8.0.44
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "Q7!mZ@4Kp%9SxL2$"
      MYSQL_DATABASE: db_restaurants
      MYSQL_USER: flat
      MYSQL_PASSWORD: "Q7!mZ@4Kp%9SxL2$"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build:
      context: .
    container_name: backend-app
    command: npm run dev
    ports:
      - "3002:3002"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - mysql

volumes:
  mysql_data:
